body {
  font-family: 'Inter', sans-serif;
  background-color: #0b0d10;
  color: #e5e7eb;
  padding-top: 80px;
}

.navbar {
  background-color: rgba(11,13,16,0.95);
}

.hero {
  padding: 140px 20px;
  background: radial-gradient(circle at top, #1f2933, #0b0d10);
}

.section {
  padding: 80px 20px;
}
.img-responsive{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}
.card-dark {
  background: #111827;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  height: 100%;
}

.image-section img {
  width: 100%;
  height: auto;
  display: block;
}

.contact-form {
  max-width: 520px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: none;
}

.footer {
  padding: 30px;
  text-align: center;
  background: #020617;
}